.section.skr {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skroll-list {
  display: flex;
}

.skroll-list-element {
  width: 270px;
  margin-right: 30px;
  &:nth-child(4) {
    margin-right: 0;
  }
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
  }
}

.icon-antena::before {
  background-image: url(../images/antenna.png);
}
.icon-clock::before {
  background-image: url(../images/clock.png);
}
.icon-diagram::before {
  background-image: url(../images/diagram.png);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.png);
}

.skroll-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skroll-list-paragraph {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
